img{
   max-height: 500px;
   
}
.card-light-blue {
   background-color: rgb(147, 182, 248);
 }

 .Home{

   background-image: url("https://img.freepik.com/free-vector/vector-illustration-culinary-banner-barbecue-background-with-grilled-meat-sausages-vegetables-sauces_1441-463.jpg?w=2000");   

 }
 
