.active{
  background-color:rgb(255, 111, 0);
  border-radius: 3px;
}
body{
  overflow-x: hidden;
  background-color: #fff;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
}